<?xml version="1.0"?>
<connectionStrings>
  <remove name="LocalSqlServer"/>
  <add name="LocalSqlServer" connectionString="Data Source=SERVER\DevInstance;Initial Catalog=aspnetdb;User ID=webSQL;Password=webPWD123" providerName="System.Data.SqlClient"/>
  <add name="DefCS" connectionString="Data Source=SERVER\DevInstance;Initial Catalog=devMWK;User ID=webSQL;Password=webPWD123" providerName="System.Data.SqlClient"/>
  <add name="WipCS" connectionString="Data Source=SERVER\DevInstance;Initial Catalog=devWIP;User ID=webSQL;Password=webPWD123" providerName="System.Data.SqlClient"/>
  <add name="RfqCS" connectionString="Data Source=SERVER\DevInstance;Initial Catalog=devRFQ;User ID=webSQL;Password=webPWD123" providerName="System.Data.SqlClient"/>
  <add name="MogtCS" connectionString="Data Source=SERVER\DevInstance;Initial Catalog=devMOGT;User ID=webSQL;Password=webPWD123" providerName="System.Data.SqlClient"/>
  <add name="AdminCS" connectionString="Data Source=SERVER\DevInstance;Initial Catalog=devAdmin;User ID=webSQL;Password=webPWD123" providerName="System.Data.SqlClient"/>
</connectionStrings>