<?xml version="1.0"?>
<connectionStrings>
  <remove name="LocalSqlServer"/>
  <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=aspnetdb;User ID=MWUser;Password=password" providerName="System.Data.SqlClient"/>
  <add name="DefCS" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=MachineWork;User ID=MWUser;Password=password" providerName="System.Data.SqlClient"/>
  <add name="AdminCS" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=proAdmin;User ID=MWUser;Password=password" providerName="System.Data.SqlClient"/>
  <add name="WipCS" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=proWIP;User ID=MWUser;Password=password" providerName="System.Data.SqlClient"/>
</connectionStrings>