<?xml version="1.0"?>
<appSettings>
 <add key="AppVersion" value="v3.3.14.160915"/>
 <add key="LogoutInterval" value="90"/>
 <add key="inSession" value="2"/>
 <add key="DefFontName" value="INSPECTIONXPERT GDT NOFRMS"/>
 <add key="DefFontSize" value="1.25em"/>
 <add key="DueDateFormat" value="MM/dd/yy ddd h:mm tt"/>
 <add key="FormDefDate" value="MM/dd/yyyy"/>
 <add key="fColor" value="text-decoration:none;color:{0};"/>
 <add key="popWin" value="width=1100,height=800,top=10,left=10,toolbar=0,resizable=1,scrollbars=1,status=0"/>
 <add key="FilePath" value="D:\iData\PROGRAMS\MWSoftwares\webApps\private\proData\Files\"/>
 <add key="FormPath" value="D:\iData\PROGRAMS\MWSoftwares\webApps\private\proData\Forms\"/>
 <add key="ImagePath" value="D:\iData\PROGRAMS\MWSoftwares\webApps\public\myWEB\App_Themes\"/>
 <add key="LogPath" value="D:\iData\PROGRAMS\MWSoftwares\webApps\Logs\"/>
 <add key="Thumb" value="thumbsUp.png"/>
 <add key="GreenLight" value="GreenLight.jpg"/>
 <add key="StatusStyle" value="background-color:White;color:Blue;float:right;"/>
 <add key="MachineStyle" value="background-color:White;color:Blue;"/>
 <add key="StepName4FileCopy" value="SAW:LATHE:MILL:HF:FIN:OPS:"/>
 <add key="GrpIDs4FileCopy" value="9:3:12:5:16:6:17:22:23:24:25:26:27:29:30:31:"/>
 <add key="emailHost" value="smtpout.secureserver.net"/>
 <add key="emailUNM" value="mwip@mworkllc.com"/>
 <add key="emailPWD" value="mwip3832"/>
 <add key="emailPort" value="3535" />
 <add key="SearchOption" value=":WO:INV:PO:DOC:" />
 <add key="internalIP" value="10.10.10." />
 <add key="ExternalURL" value="http://24.255.118.126/MSUPPLIERS/{0}" />
 <add key="LoginURL" value="~/login.aspx"/>
 <add key="dbSchema" value="dbo." />
 <add key="EnableLogFile" value="1"/>
 <add key="LogFile" value="../Logs/LogFile.txt"/>
 <add key="Token" value="v6TXHfL7wMuxgcb8XfPF6vqf4yT8qZzOr9OFb2APTA9gcNVjtKdRshV9RoHiw+HUfPAmypdyjjS8Y+4NNB3HgOEmE2UHse9r"/>
 <add key="Channel" value="WIP"/>
 <add key="ApiUrl" value="http://24.255.118.126/MWAPI/{0}"/>

  <!-- File groups for upload module -->
 <add key="CustomerPO" value="2"/>
 <add key="BluePrint" value="3"/>
 <add key="MaterialCert" value="4"/>
 <add key="LatheMOT" value="5"/>
 <add key="LatheProgram" value="6"/>
 <add key="Lathe1stPiece" value="7"/>
 <add key="LatheInProcess" value="8"/>
 <add key="PartPicture" value="9"/>
 <add key="CompletedTraveler" value="10"/>
 <add key="PackingList" value="11"/>
 <add key="bBluePrint" value="12"/>
 <add key="FirstArticle" value="13"/>
 <add key="FinalInspection" value="14"/>
 <add key="DeburrPic" value="15"/>
 <add key="MillMOT" value="16"/>
 <add key="MillProgram" value="17"/>
 <add key="Mill1stPiece" value="18"/>
 <add key="MillInProcess" value="19"/>
 <add key="OPSCert" value="20"/>
 <add key="CheckImage" value="21"/>
 <add key="LatheSetupSheet" value="22"/>
 <add key="MillSetupSheet" value="23"/>
 <add key="Document" value="28"/>
 <add key="LatheFIPIP" value="29"/>
 <add key="MillFIPIP" value="30"/>
 <add key="FAIRFIN" value="31"/>
 <add key="Invoice" value="32"/>
 <add key="PackagingInst" value="33"/>
 <add key="VendorCertification" value="34"/>
 <add key="CustFURFQ" value="35"/>
 <add key="PoCustFURFQ" value="36"/>
 <add key="CustomerPOFile" value="37"/>
 <add key="MaterialRFQFileWIP" value="38"/>
 <add key="OPSRFQFileWIP" value="39"/>
 <add key="MaterialRFQFileRFQ" value="40"/>
 <add key="OPSRFQFileRFQ" value="41"/>
 <add key="PackageSpecFile" value="42"/>
 <add key="PamMOT" value="43"/>
 <add key="CustScar" value="44"/>
</appSettings>
